<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<form>
  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class:'form-control' %>
  </div>

  <div class="field form-group">
    <% form.label :body %>
    <% form.text_area :body, class:'form-control', rows:'5' %>
  </div>

  <div class="field">
    <%= form.label :question %>
    <%= form.rich_text_area :questionn %>
  </div>

  <div class="field form-group">
    <% if person_signed_in? %>
      <%= form.number_field :person_id, id: :question_person_id, value: current_person.id, type: :hidden %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit :Submit, class:'btn btn-primary' %>
  </div>
</form>
<% end %>
