<!--<p id="notice"><%= notice %></p>-->


  <h2><%= @question.title %></h2>
  <hr>

<p>
  <%= @question.body %>
</p>

<p>
  Asked:
  <%= @question.created_at.strftime("%a %d, %H:%M") %>
</p>

<p>
  <strong>Answers:</strong>
  <%= render @question.answers %>
  <%= render partial: 'answers/form', locals: { question: @question } %>
</p>

<p>
  <strong>Answers:</strong>
  <%= render 'comments/form' %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
