<!--<p id="notice"><%= notice %></p>-->
<%= render "home/left" %>

  <h2><%= @question.title %></h2>

  <small>
  Asked:
  <%= @question.created_at.strftime("%a %d, %H:%M") %>
  </small>
  <hr>


<p>
  <%= @question.body %>
</p>
<p>
  Answers: 
  <%= @answers.count %>
  <hr>
</p>


<p>
  <%= render @question.answers.where(parent_id: nil) %>
  <%= render partial: 'answers/form', locals: { question: @question, parent: @answer } %>
</p>
  



<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
