<%= render "home/left" %>
<!--<h2>Edit <%= resource_name.to_s.humanize %></h2>-->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <!--<a class="nav-link" href="#">Profile</a>-->
    <%= link_to 'Profile', edit_person_registration_path, class:"nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Activity', activity_path, class:"nav-link" %>
    <!--<a class="nav-link active" href="#">My Activity</a>-->
  </li>
</ul>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <br>
  <div class="field form-group">
    <% f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class:"form-control" %>
  </div>

  <div class="field form-group">
    <% f.label :username %><br />
    <%= f.text_field :username, placeholder:"Username", class:"form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
    <% f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder:"Password (leave blank if you don't want to change it)", class:"form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field form-group">
    <% f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Confirm password", class:"form-control" %>
  </div>

  
  <div class="field form-group">
    <hr>
    <p>Change Profile picture</p>
  </div>

  <div class="field form-group custom-file mb-3">
    <label>Change profile picture</label>
    <%= f.file_field :avatar, class:"custom-file-input" %>
    <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
    <div class="invalid-feedback">Example invalid custom file feedback</div>
  </div>


  <div class="field form-groups">
    <% if @person.avatar.attached? %>
        <%= image_tag @person.avatar, width: "200px", height: "200px" %>
        <% else %>
        <%= image_tag ("default.jpg"), width: "200px", height: "200px" %>
        <% end %>
  </div>

  <div class="field form-group">
    <% f.label :current_password %><br />
    <em style="color:red  ">we need your current password to confirm your changes</em><br>
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder:"Current Password", class:"form-control" %>
    <br>
  </div>

  <div class="actions">
    <%= f.submit "Save Profile", class:"btn btn-primary" %>
    <%= link_to 'Sign Out', destroy_person_session_path, method: :delete, class:"btn btn-danger white" %>
  </div>
<% end %>
<br>
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-warning" %>

<% link_to "Back", :back %>
