


<div class="container">
  <div class="row">
    <div class="col-sm">
      <!--1col -->
    </div>
    <div class="col-sm formB">
      <h2 class="centerT">Sign up</h2>
      <br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <% f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class:'form-control', autocomplete: "email", placeholder:'Email' %>
  </div>

  <div class="field form-group">
    <% f.label :username %><br />
    <%= f.text_field :username, class:'form-control', placeholder:'Username' %>
  </div>

  <div class="field form-group">
    <% f.label :password %>
    <% if @minimum_password_length %>
    <!--<em>(<% @minimum_password_length %> characters minimum)</em>-->
    <% end %><br />
    <%= f.password_field :password, class:'form-control', autocomplete: "new-password", placeholder:'Password (6 characters minimum)' %>
  </div>

  <div class="field form-group">
    <% f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class:'form-control', autocomplete: "new-password", placeholder:'Confirm Password ' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
    </div>
    <div class="col-sm">
      <!--3col -->
    </div>
  </div>
</div>