<nav class="navbar navbar-light bg-light">
  <!--<a class="navbar-brand">Navbar</a>-->
  <%= link_to "StackCloud", questions_path, class:"navbar-brand" %>
  <form class="form-inline" action="/search">
    <input size="50" name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <span class="navbar-text">
    <% if person_signed_in? %>
    <br>
    <% if @person.avatar.attached? %>
        <%= image_tag @person.avatar, width: "40px", height: "40px" %>
        <% else %>
        <%= image_tag ("default.jpg"), width: "40px", height: "40px" %>
        <% end %>

    <%= link_to @person.username, edit_person_registration_path %>
    <% link_to 'Sign Out', destroy_person_session_path, method: :delete %>
    <% else %>
    
    <%= link_to 'Sign in  ', new_person_session_path %>
    <%= link_to 'Sign up', new_person_registration_path %>
    <% end %>
  </span>
</nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>