
<article>
    <p><%= answer.content %></p>
</article>

<%= link_to 'Delete', question_answer_path(@question, answer), method: :delete %>

<% button_to 'Like', question_answer_likes_path(@question, answer), method: :post %>
<% pre_like = answer.likes.find { |like| like.person_id == current_person.id} %>
<% if pre_like %>
  <% button_to 'Unlike', question_answer_like_path(@question, answer, pre_like), method: :delete %>
<% else %>
  <% button_to 'Like', question_answer_likes_path(@question, answer), class:'textarea', method: :post %>
<% end %>

<table>
<tr><td style="padding-right:30px" >
<% if !pre_like %>
  <%= link_to '', question_answer_likes_path(@question, answer), class:'arrow1 textarea', method: :post %>
<% else %>
  <div class="arrowo textarea"></div>
<% end %>
<tr><td style="padding-right:30px" ><div><p class="textarea"><%= answer.likes.count %></p></div></td></tr>
<tr><td style="padding-right:30px" >
<% if pre_like %>
  <%= link_to '', question_answer_like_path(@question, answer, pre_like), class:'arrow2 textarea', method: :delete %>
<% else %>
  <div class="arrowdo textarea"></div>
<% end %>

</td></tr>
</table>


<!--<p class="textarea"><%= answer.likes.count %> <%= (answer.likes.count) == 1 ? 'Like' : 'Likes'%></p>-->

<a href="" class="comment-form-display textarea">Reply</a>
<div class="comment-form"> 
    <%= render partial: 'answers/form', locals: { question: @question, parent: answer }%>
</div>
<hr>

<div class="sub-comment">
<%= render answer.answers %>
</div>

<script>

    document.querySelectorAll('.comment-form-display').forEach((el) => {
    el.addEventListener('click', (ev) => {
        ev.preventDefault();
        el.nextElementSibling.style = 'display: block;'
    })
})

</script>



