<% pre_like = answer.likes.find { |like| like.person_id == current_person.id} %>
<% link_to 'Delete', question_answer_path(@question, answer), method: :delete %>




<table><tr><td>
<table>
<tr><td class="textarea">  <%= render 'answers/upvote_link', answer: answer %>  </td></tr>
<tr><td class="textarea centerT">  <%= render 'answers/votes_score', answer: answer %>  </td></tr>
<tr><td class="textarea">  <%= render 'answers/downvote_link', answer: answer %>  </td></tr>
</table></td>


<td class="wide">
<article>
    <p class="zero"><%= answer.content %> <span class="nekaj">
    
    <% if answer.parent_id != nil %>
    - <%= answer.person.username %>
    <% end %>

    </span></p>
</article>
</td></tr>



<tr class="textarea"><td colspan="2">
<span class="right">
<table><tr><td>

Answered:
<%= answer.created_at.strftime("%a %d, %H:%M") %>

</td></tr>
<tr><td>

<% if answer.person.avatar.attached? %>
<%= image_tag answer.person.avatar, width: "35px", height: "35px" %>
<% else %>
<%= image_tag ("default.jpg"), width: "35px", height: "35px" %>
<% end %>
<%= answer.person.username %>
</td></tr>
</table>
</span>
</td></tr>





</table>

<a href="" class="comment-form-display textarea">Add a comment</a>
<div class="comment-form"> 
    <%= render partial: 'answers/form', locals: { question: @question, parent: answer }%>
</div>
<hr>

<div class="sub-comment">
<%= render answer.answers %>
</div>






<script>

    document.querySelectorAll('.comment-form-display').forEach((el) => {
    el.addEventListener('click', (ev) => {
        ev.preventDefault();
        el.nextElementSibling.style = 'display: block;'
    })
})

</script>



