<%= render "home/left" %>


<ul class="nav nav-tabs">
  <li class="nav-item">
    <!--<a class="nav-link" href="#">Profile</a>-->
    <%= link_to 'Profile', edit_person_registration_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Activity', activity_path, class:"nav-link active" %>
    <!--<a class="nav-link active" href="#">My Activity</a>-->
  </li>
</ul>
<br><br><br>
<h1>My Questions</h1>
<div id="vprasanja">
<% @questions.each do |question| %>
    <div class="vprasanja">
      <tr>
        <td><%= question.title %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </div>
<% end %>
</div>

<hr>
<h1>My Comments</h1>
<div id="odgovori">
<% @comments.each do |comment| %>
<% @questions.each do |question| %>
    <div class="vprasanja">
      <tr>
        <td><%= comment.content %></td>
      </tr>
      <tr>
        <td><%= link_to 'Delete', question_answer_path(question, comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </div>
<% end %>
<% end %>
</div>

<hr>
<h1>My answers</h1>
<div id="odgovori">
<% @answers.each do |answer| %>
<% @questions.each do |question| %>
    <div class="vprasanja">
      <tr>
        <td><%= answer.content %></td>
      </tr>
      <tr>
        <td><%= link_to 'Delete', question_answer_path(question, answer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </div>
<% end %>
<% end %>
</div>





