<%= render "home/left" %>


<ul class="nav nav-tabs">
  <li class="nav-item">
    <!--<a class="nav-link" href="#">Profile</a>-->
    <%= link_to 'Profile', edit_person_registration_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Activity', activity_path, class:"nav-link active" %>
    <!--<a class="nav-link active" href="#">My Activity</a>-->
  </li>
</ul>
<br><br><br>
<h1>My Questions</h1>
<br>
<div id="vprasanja">
<% @questions.each do |question| %>
    <div class="vprasanja wide underline black">
      <tr>
        <td>
        <% question.title %>
        <span class="wrap"><%= link_to question.title, question %></span>
        </td>
        <td><%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' }, class:"blue" %></td>
        <td><%= link_to 'Edit', edit_question_path(question), class:"blue" %></td>
      </tr>
    </div>
<% end %>
</div>

<hr>
<h1>My Comments</h1>
<br>
<div id="odgovori">
<% @comments.each do |comment| %>
<%# @questions.each do |question| %>
    <div class="vprasanja wide underline">
      <tr>
        <td><span class="wrap"><%= link_to comment.content, comment.question %> </span></td>
      </tr>
      <tr>
        <td><%= link_to 'Delete', question_answer_path(comment.question_id, comment), method: :delete, data: { confirm: 'Are you sure?' }, class:"blue" %></td>
      </tr>
    </div>
<%# end %>
<% end %>
</div>

<hr>
<h1>My answers</h1>
<br>
<div id="odgovori">
<% @answers.each do |answer| %>
<%# @questions.each do |question| %>
    <div class="vprasanja wide underline">
      <tr>
        <td><span class="wrap"><%= link_to answer.content, answer.question %><% answer.content %></span></td>
      </tr>
      <tr>
        <td><%= link_to 'Delete', question_answer_path(answer.question_id, answer), method: :delete, data: { confirm: 'Are you sure?' }, class:"blue" %></td>
      </tr>
    </div>
<%# end %>
<% end %>
</div>





